DB_NAME="<NAME>"
DB_PASSWORD="<PASSWORD>"
DB_USERNAME="<USERNAME>"
DB_HOST="<IP>"
DB_PORT=<PORT>
JWT_KEY="<Just some random characters ar good (also use special ones (maybe even smileys))>"
AI_KEY="<API key for AI>"